NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDzO43Bqonz3cAVXKnuW8uD2_mTo-E3LcU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nextcommerce-f2631.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nextcommerce-f2631
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nextcommerce-f2631.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=913795303372
NEXT_PUBLIC_FIREBASE_APP_ID=1:913795303372:web:be67085db95afb95497f69

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dxpcz9zsf
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=aavo9ykr
